@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> signinManager
@inject UserManager<IdentityUser> userManager

<ul class="navbar-nav align-items-center gap-2">
    @if(signinManager.IsSignedIn(User))
    {
        <li class="nav-item">
            Hi: @userManager.GetUserName(User)
        </li>
        <li class="nav-item">
            <form asp-action="Logout" asp-controller="Accounts" method="post" class="form-inline">
                <button type="submit" class="btn nav-link">Logout</button>
            </form>
        </li>
    }else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Accounts" asp-action="Register">Sign Up</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Accounts" asp-action="Login">Sign In</a>
        </li>
    }
</ul>
